@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  width: 100%;
  max-width: 1400px;
  min-width: 360px;
  height: 80px;
  position: fixed;
  display: flex;
  z-index: 1;
  background-color: rgb(235, 235, 241, 0.3);
  backdrop-filter: blur(16px);
}

.main-header {
  width: 100%;
  height: 100%;
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  width: 20%;
}

.header__logo svg {
  width: 100%;
  height: 100%;
}

.header__wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  width: 65%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title h1 {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
  color: var(--color-text-title);
  text-transform: uppercase;
  text-align: center;
}

.header__filters {
  width: 170px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter__priority__wrapper,
.filter__date__wrapper {
  width: auto;
  height: 100%;
  padding: 0 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-title);
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter__priority__wrapper:hover,
.filter__date__wrapper:hover {
  color: rgba(54, 59, 110, 0.7);
}

.filter__priority__wrapper.active,
.filter__date__wrapper.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.filter__priority__wrapper.active::after,
.filter__date__wrapper.active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-text-title);
  border-radius: 3px;
}

.priority__icon,
.date__icon {
  width: 20px;
  height: 20px;
}

.priority__icon img,
.date__icon img {
  width: 20px;
  height: 20px;
}
